* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
}

.inner_header {
    display:black;
    margin: 0 auto;
}

.title {
    font-size: 300%;
    width: inherit;
    text-align: center;
}

.header {
    justify-content: top;
    align-items: top;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    height: 5.5em;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;
}


.logo {
    height: 100%;
    display: table;
    float: left;
}

.MoonText {
    width: 17em;
    display: table-cell;
    vertical-align: middle;
    left: 0;
}

.Moon {
    width: 125px;
    height:105px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding: 23px 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn {
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
    padding: 0.7rem 0;
    border:none;
    outline:none;
	font-size: 0.9rem;
	font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;  
}

.btn-home:hover::after {
    transform: scale(1,1);
}

.btn-about::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.btn-about:hover::after {
    transform: scale(1,1);
}

.btn-contact::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;   
}

.btn-contact:hover::after {
    transform: scale(1,1);
}



.container {
    /*display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: auto;
    position: relative;*/
    width: 70em;
    transform: scale(0.6);
}

.topDesign{
    text-align: center;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    border-radius: 19px 19px 0 0;
    box-shadow: 5px 20px 50px #000;
    background-image: linear-gradient(darkslateblue, rgb(255, 255, 255));
    padding-top: 1.3em;
    padding-bottom: 15px;
}

.input {
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(rgb(255, 255, 255), darkslateblue);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 19px 19px;
    font-size: x-large;
}

.myTable {
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    border: 5px solid white;
}

.myTable th {
    background-color:darkslateblue ;
    color: white;
    font-size: 35px;
}

.myTable th, .myTable td {
    padding: 0.5em;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6em;
    text-align: center;
}

#current-time {
    text-align: center;
    justify-content: center;
    font-size:200%;
}

.input h4 {
    display: inline;
}

#city {
    font-size: large;
    padding-left: 5px;
}

#country {
    font-size: large;
    padding-left: 5px;
}

#state {
    font-size: large;
    padding-left: 5px;
}

#button {
    height: 2em;
    width: 4em;
    font-size: large;
    margin-top: 0.6em;
}

#c1 {
    margin-left: 2px;
}

#bg-video {
    position: fixed;
    /*top: 3%;*/
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }





  /**************  MOON RESPONSIVE***************/

@media (max-width: 750px) {

    .header {
        width: 100%;
        height: 70px;
    }

    .logo {
        size: 100%;
        vertical-align: middle;
        margin-top: 2%;
    }

    .MoonText {
        width: 155px;
    }

    .Moon {
        width: 75px;
        height:60px;
    }

    .navigation {
        padding-top: 11px;
    }

    .navigation a {
        height: 0%;   
        padding: 0px 5px;
    }

    .navigation a li {
        height:0%;
        margin-right: 9rem;
    }

    .btn {
        align-items: left;
        justify-content: left;
        vertical-align: middle;
        padding: 1rem 0;
        font-size: 0.6em;    
        
    }

    .myTable th, .myTable td {
        padding: 0.3em;
        font-size: 1.4em;
    }

    .container {
        margin-top: 3.5em;
        transform: scale(0.7);
    }
}

@media (min-height: 668px) {

    .container {
        /*top: 91px;
        transform: scale(0.8);*/
        margin-top: 5em;
        transform: scale(0.7);
    }

}