*{
    margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
}

.inner_header {
    display:black;
    margin: 0 auto;
}

.title {
    font-size: 300%;
    width: inherit;
    text-align: center;
}

.header {
    justify-content: top;
    align-items: top;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    height: 5.5em;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
    background: linear-gradient(to top, #0c290e, #427256, #243e2e);
    background-image: url("\\WorkingCode\\Images\\7.jpg");
    background-size: cover;
    
}


.logo {
    height: 100%;
    display: table;
    float: left;
}

.MoonText {
    width: 17em;
    display: table-cell;
    vertical-align: middle;
    left: 0;
}

.Moon {
    width: 125px;
    height:105px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding: 23px 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn {
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
    padding: 0.7rem 0;
    border:none;
    outline:none;
	font-size: 0.9rem;
	font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;  
}

.btn-home:hover::after {
    transform: scale(1,1);
}

.btn-about::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.btn-about:hover::after {
    transform: scale(1,1);
}

.btn-contact::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;   
}

.btn-contact:hover::after {
    transform: scale(1,1);
}



h2 {
    text-align: center;
    color: white;
    padding-top: 1em;
}

.createAccount {
	width: 20em;
    height: 26em;
	background: #796525;
	/*overflow: hidden;*/
	border-radius: 19px;
	box-shadow: 5px 20px 50px #000;
    margin-top: 4em;
}

input {
	width: 60%;
	height: 2.7em;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 2em auto 0 auto;
    padding-left: 1.2em;
	border: none;
	outline: none;
	border-radius: 5px;
}
.createAccount button {
	width: 60%;
	height: 40px;
	margin: auto;
	justify-content: center;
	display: block;
	color: #fff;
    background: black;
	font-size: 1em;
	font-weight: bold;
	margin-top: 35px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .50s ease-in;
	cursor: pointer;
}

.login button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
    background: black;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .50s ease-in;
	cursor: pointer;
}

.login button:hover {
	background: #492b81;
}

.signup button:hover {
	background: #492b81;
}

.login label {
    color: black;
	transform: scale(.9);
}

#chk:checked ~ .login {
	transform: translateY(-500px);
}

#chk:checked ~ .login label {
	transform: scale(1);	
}

#chk:checked ~ .signup label {
	transform: scale(.6);
}





/****************** RESPONSIVE **********************/

@media (max-width: 750px) {

    .createAccount {
        transform: scale(0.9);
    }

    input {
        background: #e0dede;
        justify-content: center;
        display: flex;
        border: none;
        outline: none;
        border-radius: 5px;
    }
  

    /**************  MOON RESPONSIVE***************/

    .header {
        width: 100%;
        height: 70px;
    }

    .logo {
        size: 100%;
        vertical-align: middle;
        margin-top: 2%;
    }

    .MoonText {
        width: 155px;
    }

    .Moon {
        width: 75px;
        height:60px;
    }

    .navigation {
        padding-top: 11px;
    }

    .navigation a {
        height: 0%;   
        padding: 0px 5px;
    }

    .navigation a li {
        height:0%;
        margin-right: 9rem;
    }

    .btn {
        align-items: left;
        justify-content: left;
        vertical-align: middle;
        padding: 1rem 0;
        font-size: 0.6em;    
        
    }

    .myTable th, .myTable td {
        padding: 0.3em;
        font-size: 1.4em;
    }

}

@media (min-height: 800px) and (min-width: 751px) {
    .createAccount {
        width: 26em;
        height: 32em;
    }
}