
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.inner_header {
  display:black;
  margin: 0 auto;
}

.title {
  font-size: 300%;
  width: inherit;
  text-align: center;
}

.header {
  height: 5.5em;
  display: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 999;
}

.logo {
  height: 100%;
  display: table;
  float: left;
}

.MoonText {
  width: 17em;
  display: table-cell;
  vertical-align: middle;
  left: 0;
}

.Moon {
  width: 125px;
  height:105px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(50%,-50%); 
  animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
  0% {
      transform: translate(-50%,-50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%,-50%) rotate(360deg);
  }
}


.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  vertical-align: middle;
  padding: 23px 0;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height:100%;
  color: white;
  font-size:20px;
}

.btn {
  position: relative;
  background:black;
  color: #fff;
  width: 110%;
  padding: 0.7rem 0;
  border:none;
  outline:none;
font-size: 0.9rem;
font-weight: bold;
  cursor: pointer;
}

.btn::after {
  content:'';
  position: absolute;
  width:100%;
  height:0.175rem;
  left:0;
  bottom:0;
  background-color: red;
}

.btn-home::after {
  transform: scale(0,1);
  transition: transform 0.3s ease;  
}

.btn-home:hover::after {
  transform: scale(1,1);
}

.btn-about::after {
  transform: scale(0,1);
  transition: transform 0.3s ease;
}

.btn-about:hover::after {
  transform: scale(1,1);
}

.btn-contact::after {
  transform: scale(0,1);
  transition: transform 0.3s ease;   
}

.btn-contact:hover::after {
  transform: scale(1,1);
}




.row {
  transform: scale(0.8);
  display: flex;
}

element.style{
  margin:100px;
}
/*
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 170;
    
  }
  */
  body {
    justify-content: flex-end;
   /* align-items: flex-end;*/
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("\\WorkingCode\\Images\\14.jpg");
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
  }

  html {
    box-sizing: border-box;
    
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    background-image: url("\\WorkingCode\\Images\\14.jpg");
    background-size: cover;
    padding: 75px;
    text-align: center;
    background-color: #474e5d;
    color: black;
    margin-top: 5.5em;
    background-color:rgba(253, 225, 171, 0.808);
    margin-top: 7em;
  }
  
  .container {
    padding: 0 16px;
    margin-top:10px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .p_title {
    color: grey;
    margin-top:5px;
    margin-bottom:5px;
  }

  .container a{
    margin-top:100px;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
h2 {
  font-weight:bold
}











  @media screen and (max-width: 717px) {
    .column {
      width: 50%;
      display: block;
    }
  }

  img {
    background-size: cover;
  }


  @media screen and (max-width: 550px) {
    .column {
      width: 100%;
      display: block;
    }
  }


/**************  MOON RESPONSIVE***************/

@media (max-width: 750px) {

  .header {
      width: 100%;
      height: 70px;
  }

  .logo {
      size: 100%;
      vertical-align: middle;
      margin-top: 2%;
  }

  .MoonText {
      width: 155px;
  }

  .Moon {
      width: 75px;
      height:60px;
  }

  .navigation {
      padding-top: 11px;
  }

  .navigation a {
      height: 0%;   
      padding: 0px 5px;
  }

  .navigation a li {
      height:0%;
      margin-right: 9rem;
  }

  .btn {
      align-items: left;
      justify-content: left;
      vertical-align: middle;
      padding: 1rem 0;
      font-size: 0.6em;     
  }

  .row {
    flex-direction: column;
  }

}

@media (min-height: 1000px) {  
  body {
    justify-content: center;
  }

 
}

@media (min-width: 990px) {  

  .about-section {
    padding: 60px;
  }
  
  .row {
    transform: scale(0.65);
  }

}