* {
    margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100%;
    background-color: #ffffff;
    color: #000000;  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:.9em;
}

.inner_header {
    display:black;
    margin: 0 auto;
}

.title {
    font-size: 300%;
    width: inherit;
    text-align: center;
}

.header {
    height: 5.5em;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.MoonText {
    width: 17em;
    display: table-cell;
    vertical-align: middle;
    left: 0;
}

.Moon {
    width: 125px;
    height:105px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding: 23px 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn {
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
    padding: 0.7rem 0;
    border:none;
    outline:none;
	font-size: 0.9rem;
	font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;  
}

.btn-home:hover::after {
    transform: scale(1,1);
}

.btn-about::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.btn-about:hover::after {
    transform: scale(1,1);
}

.btn-contact::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;   
}

.btn-contact:hover::after {
    transform: scale(1,1);
}


#middle { 	
    vertical-align: middle;	
    background-color:#ffffff;
    margin:0 auto;
    text-align:center;
    padding:1em;
    width:1320px;
}

hr {
    background-color:black;
    margin-bottom:20px;
    width:98%;
    border:none;
    height:1px;
    clear:both;
}

#top {
    height: 10em;
    margin-top: 2.5em;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #5c4d8b;
    border: 0.3em solid silver;
    background-color: #e0dfdf41;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#top h1 {
    padding-top: 56px;
    color:#000000;
    font-size:2.2em;
    font-family:'Jost', sans-serif;
    font-weight: bold;
    font-weight:lighter;
    letter-spacing:.15em; 
}

p {
    font-size: 1.1em;   
}

.descr {
    line-height: 2;
    margin: 1.3em 0;
}

#feature1 p, #feature2 p, #feature3 p,
#feature4 p, #feature5 p, #feature6 p {
    font-size:1.0em;   
}

#feature1, #feature2, #feature3,
#feature4, #feature5, #feature6 {
    width: 15em;
    height: 6.9em;
    background-color:#e0dfdf41;
    padding:8px;
    float:left;
    margin:0 14px 2em 14px;
    
    border-radius: 10px;
    box-shadow: 5px 20px 50px #5c4d8b;
    border: 0.3em solid silver;
}

#feature1 h2, #feature2 h2, #feature3 h2,
#feature4 h2, #feature5 h2, #feature6 h2 {

    font-weight:bold;
    margin:0 0 -4px 0 !important;
    margin:0 0 -20px 0;
    padding:4px 0 10px 0;
    font-family:'Jost', sans-serif;
    font-size: 1.1em;
    text-decoration: underline;
}

#centerColumn {
   /* margin-top: 9em;*/
    transform: scale(0.8);
}






/**************  MOON RESPONSIVE***************/

@media (max-width: 750px) {

    .header {
        width: 100%;
        height: 70px;
    }

    .logo {
        size: 100%;
        vertical-align: middle;
        margin-top: 2%;
    }

    .MoonText {
        width: 155px;
    }

    .Moon {
        width: 75px;
        height:60px;
    }

    .navigation {
        padding-top: 11px;
    }

    .navigation a {
        height: 0%;   
        padding: 0px 5px;
    }

    .navigation a li {
        height:0%;
        margin-right: 9rem;
    }

    .btn {
        align-items: left;
        justify-content: left;
        vertical-align: middle;
        padding: 1rem 0;
        font-size: 0.6em;     
    }

    #centerColumn {
        transform: scale(0.8);
    }

    h1 {
        font-size: 1.9em;
    }
}