* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.inner_header {
    display:black;
    margin: 0 auto;
}

.title {
    font-size: 300%;
    width: inherit;
    text-align: center;
}

.header {
    justify-content: top;
    align-items: top;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    height: 5.5em;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.form-map {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 6em;
}

#map {
    height: 400px;
    width: 70%;
}

.form-container {
    width: 100%;
    margin: 0 auto;
}

form {
    width: 80%;
    margin: 30px auto;
    text-align: left;
    font-size: 20px;
    padding: 20px;
}

input, button {
    font-size: 1em;
}

.map-button-container {
    margin: 20px 0;
}

.map-button-container button {
    padding: 10px 20px;
    cursor: pointer;
}

.usernames-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

h2 {
    text-align: center;
    font-size: 1.3em;
}

#usernames {
    text-align: center;
    color:green;
    width: 2em;
}

select {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 2.6em;
    font-size: 1em;
    width: 12em;
    border-radius: 2px;
    margin: 0 0.6em; 
}
  
select option {
    font-size: 1em;
}

h1 {
    font-size: 2em;
    text-align: center;    
}

p {
    position: fixed; 
    margin-bottom: 1%
}

button, #usernamesDropdown {
    margin: 0 0.7em; 
}



/**************** MOON **********************/

.logo {
    height: 100%;
    display: table;
    float: left;
}

.MoonText {
    width: 17em;
    display: table-cell;
    vertical-align: middle;
    left: 0;
}

.Moon {
    width: 125px;
    height:105px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding: 23px 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn {
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
    padding: 0.7rem 0;
    border:none;
    outline:none;
	font-size: 0.9rem;
	font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;  
}

.btn-home:hover::after {
    transform: scale(1,1);
}

.btn-about::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.btn-about:hover::after {
    transform: scale(1,1);
}

.btn-contact::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;   
}

.btn-contact:hover::after {
    transform: scale(1,1);
}




/**************  MOON RESPONSIVE ***************/

@media (max-width: 750px) {

    .header {
        width: 100%;
        height: 70px;
    }

    .logo {
        size: 100%;
        vertical-align: middle;
        margin-top: 2%;
    }

    .MoonText {
        width: 155px;
    }

    .Moon {
        width: 75px;
        height:60px;
    }

    .navigation {
        padding-top: 11px;
    }

    .navigation a {
        height: 0%;   
        padding: 0px 5px;
    }

    .navigation a li {
        height:0%;
        margin-right: 9rem;
    }

    .btn {
        align-items: left;
        justify-content: left;
        vertical-align: middle;
        padding: 1rem 0;
        font-size: 0.6em;       
    }
}


@media (min-height: 770px) {

    h1 {
        font-size: 2.7em;
        text-align: center;   
        padding: 1em;  
    }

    button, input, #usernamesDropdown {
        font-size: 1.4em;
    }

    select option  {
        font-size: 0.6em;
    }
    
    h2 {
        font-size: 1.6em;
    }
}


@media (max-width: 432px) {
    .map-button-container {
        display: flex;
        flex-direction: column;
    }

    button, #usernamesDropdown {
        margin: 0.3em 0.7em;
    }

    select option {
        font-size: 0.7em;
    }

    .form-map {
        margin-top: 5em;
    }

    #map {
        height: 30em;
    }

    h1 {
        font-size: 1.7em;
    }
}