#emoji-list img {
    width: 32px;
    height: 32px;
    margin: 5px;
    cursor: pointer;
  }
  
  /* Add styles for message form */
  #messagingArea {
    margin-top: 20px;
  }
  
  /* Add styles for message input */
  #userInput {
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
  }

  
  /* Add styles for emoji picker button */
  #emoji-picker-button {
    margin-left: 5px;
  }
  
  /* Add styles for file attach button */
  #file-attach-button {
    margin-left: 5px;
  }
 

  /* Chatroom container properties */

.chatroom {
  height: 500px;
  width: 300px;
  overflow: auto;
}

/* Style the messages in the chatroom */
.chatroom .message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Style the text in the messages */
.chatroom .message p {
    margin: 0;
    padding: 3px 7px 3px 7px;
}

/* Style the input field for sending messages */
.chatroom input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}


/* Style the button for sending messages */
.chatroom input[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #256bb6;
    color: white;
    border: none;
    cursor: pointer;
    margin-left:5px;
}

/* Send message button hovered */
.chatroom input[type="submit"]:hover {
    background-color: #24478d;
}

  span {
    font-size: 2em;
    margin: auto;
  }

/* #emoji-picker {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}  */

#emoji-picker {
  background-color: rgba(0, 0, 0, 0.5);
  height: 50%;
  width: 50%;
  top: 50%;
  bottom: 50%;
}

#emoji-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 10%;
}

 .emoji-span {
  width: 30px;
  height: 30px;
  background-size:cover;
  background-repeat: no-repeat;
  margin: 5px;
  transition: transform 0.2s ease-in-out;
  cursor: default;
} 

.emoji-span:hover {
  transform: scale(1.5);
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}


/* .newMsg {
  background-color: #e5e5ea;
  padding: 20px;
  border-radius: 10px;
  max-width: 50%;
  width: 100%;
  height: 200%;
  word-wrap: break-word;
  overflow-y: scroll;
  font-size: 24px;
} */

.newMsg {
  max-width: 50%;
  border-radius: 40px;
  background-color: #e5e5ea;
  overflow-wrap: break-word;
  font-size: 20px;
  margin: 10%;
}

.message-options {
  float: right;
  size: 20px;
  font-size: 2px;
}

.like-button, .dislike-button {
  background: none;
  border: none;
  cursor: pointer;
}

.avatar {
  width: 80px;
  height: auto;
  border: 1px solid black;
}


.thumbdown {
  color:lightcoral;
}

.thumbdown:hover {
  color: red;
}


.thumbup {
  color: rgb(38, 175, 38);
}

.thumbup:hover {
  color:rgb(28, 226, 28);
}


.likeSystem {
  padding-left: 2px;
}

.chatroom-perimiter {
  border: 2px solid lightskyblue;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*header*/

*{
  margin: 0;
padding: 0;
  list-style: none;
  text-decoration: none;
}

.inner_header{
    
    width: 100%;
    height: 100%;
    display:black;
   
   
}


.header2{
  justify-content: top;
  align-items: top;
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  width: 100%;
height: 112px;
  display: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  position: fixed;
  top:0;
  left:0;
  right:0;

}


.logo{
  height: 100%;
  display: table;
  float: left;
}



.MoonText{

  width: 355px;
  display: table-cell;
  vertical-align: middle;
  left: 0;

}

.Moon{
  width: 150px;
  height:130px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(50%,-50%); 
  animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
  0%{
      transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
      transform: translate(-50%,-50%) rotate(360deg);
  }
}


.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  vertical-align: middle;
  padding-top: 25px;

}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  

}

.navigation a li
{
  display: table-cell;
  vertical-align: middle;
  height:100%;
  color: white;
  font-size:20px;
}

.btn2
{
  position: relative;
  background:black;
  color: #fff;
  width: 110%;
 margin-bottom: 2rem;
  padding: 1rem 0;
  border:none;
  outline:none;
font-size: 1em;
font-weight: bold;
  cursor: pointer;

}

.btn2::after
{
  content:'';
  position: absolute;
  width:100%;
  height:0.175rem;
  left:0;
  bottom:0;
  background-color: red;
}

.btn2-home::after
{
  transform: scale(0,1);
  transition: transform 0.3s ease;
  
}

.btn2-home:hover::after
{
  transform: scale(1,1);
}

.btn2-about::after
{
  transform: scale(0,1);
  transition: transform 0.3s ease;
  
}

.btn2-about:hover::after
{
  transform: scale(1,1);
}


.btn2-contact::after
{
  transform: scale(0,1);
  transition: transform 0.3s ease;
  
}

.btn2-contact:hover::after
{
  transform: scale(1,1);
}

/**/