*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
	display: flex;
	justify-content: flex-end;
    align-items: flex-end;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
    background-image: url('\\WorkingCode\\Images\\420895_NEW.png');
    background-size: cover; 
}

.form-container {
    transform: scale(0.7);
}

.form-container form {
    height: 500px;
    width: 479px;
    margin: auto;
    display: flex;
    flex-direction:column;
    background-image: conic-gradient(from 3.1416rad at 10% 50%, #f0f340d5, #636bb1);
    padding: 30px;
    text-transform: none;
    border-radius: 30px;
}

.form-container form h3 {
    text-align: center;
    font-size: 2.3rem;
    color: rgb(28, 5, 83);
}

.form-container form h4 {
    font: 27.2px "times new roman";
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    font-size: 1.7rem;
    color: rgb(28, 5, 83);
}

.form-container form label {
    font-size: 1.7rem;
    padding: 3px 0;
    color: rgb(28, 5, 83);
}

.form-container form input, textarea {
    padding: 8px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    border: none;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    text-transform: none;
    font-size: 1rem;
    padding-bottom: 10px;
}

.Button {
    margin-top: 30px;
    justify-content: center;
    align-self: center;
    height: 60px;
    width: 110px;
    font-size: 130%;
    cursor: pointer;
    border-radius: 20px;
    border-color: rgb(238, 241, 58, 0.856);
}

.review {
    margin-top: 20px;
    margin-left: 20px;
}


/*************************************************/


.myButton {
	box-shadow: inset 0px -1px 6px 0px #91b8b3;
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	border-radius: 12px;
	border: 1px solid #566963;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-style: italic;
	padding: 9px 9px;
	text-shadow: 0px -1px 0px #2b665e;
    margin-top: 1.1em;
}

.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
}




/**************************************************/


@import "compass/css3";

h1 {
  font-size: 16px; 
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-quote { 
    width: 32em;
    padding: 1.6em 0 0 1.6em;    
}

.testimonial-quote blockquote {
    color: gray;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic; 
    position: relative;
    text-shadow: 0 1px white;
    line-height: 1.4 !important;
    margin-bottom: 0.3em;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;    
    text-shadow: none;
}

.testimonial-quote cite {
    color: gray;
    font-size: .8em; 
}
  
.testimonial-quote cite span {
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 1px white; 
}



/************************************/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  .form-container form div {
    height: 40px;
    width: 400px;
    text-align: center;
    padding-left: 39px;
    padding-bottom: 45px;
    direction: rtl;
  }
  .form-container form  div input {
    display: none;   
  }
  .form-container form  div label {
    height: 20px;
    width: 20px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
    margin: 0 5px;
  }
  .form-container form div label:before {
    content: '★';
    font-size: 3.5vw;
  }
  .form-container form div input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
  }
  .form-container form div :not(:checked) > label:hover,
  .form-container form  div :not(:checked) > label:hover ~ label {
    color: gold;
  }
  .form-container form  div input:checked > label:hover,
  .form-container form  div input:checked > label:hover ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
  }
  .form-container form  div span:before {
    font-size: 25px;
    font-weight: 500;
    color: gold;
    font-family: 'Poppins', sans-serif;
    display: none;
  }
  .form-container form  div input:checked ~ .result:before {
    display: block;
  }
  .form-container form  div  #five:checked ~ .result:before {
    content: "I love it ";
  }
  .form-container form div  #four:checked ~ .result:before {
    content: "I like it ";
  }
  .form-container form  div  #three:checked ~ .result:before {
    content: "It's good ";
  }
  .form-container form div #two:checked ~ .result:before {
    content: "I don't like it ";
  }
  .form-container form  div #one:checked ~ .result:before {
    content: "I hate it ";
  }





.inner_header {
    display:black;
    margin: 0 auto;
}

.title {
    font-size: 300%;
    width: inherit;
    text-align: center;
}

.header {
    height: 5.5em;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;
}


.logo {
    height: 100%;
    display: table;
    float: left;
}

.MoonText {
    width: 17em;
    display: table-cell;
    vertical-align: middle;
    left: 0;
}

.Moon {
    width: 125px;
    height:105px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding: 23px 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn {
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
    padding: 0.7rem 0;
    border:none;
    outline:none;
	font-size: 0.9rem;
	font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;  
}

.btn-home:hover::after {
    transform: scale(1,1);
}

.btn-about::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.btn-about:hover::after {
    transform: scale(1,1);
}

.btn-contact::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;   
}

.btn-contact:hover::after {
    transform: scale(1,1);
}





/**************  MOON RESPONSIVE***************/

@media (max-width: 750px) {

    .header {
        width: 100%;
        height: 70px;
    }

    .logo {
        size: 100%;
        vertical-align: middle;
        margin-top: 2%;
    }

    .MoonText {
        width: 155px;
    }

    .Moon {
        width: 75px;
        height:60px;
    }

    .navigation {
        padding-top: 11px;
    }

    .navigation a {
        height: 0%;   
        padding: 0px 5px;
    }

    .navigation a li {
        height:0%;
        margin-right: 9rem;
    }

    .btn {
        align-items: left;
        justify-content: left;
        vertical-align: middle;
        padding: 1rem 0;
        font-size: 0.6em;    
        
    }

    .testimonial-quote {
        width: 30em;
        font-size: 0.7em;
    }

    .form-container {
        transform: scale(0.55);
    }

    body {
        display: flex;
        justify-content: center;
    }
}


@media (min-height: 668px) and (min-width: 751px) {
   body {
        display: flex;
        justify-content: flex-end;
        /*align-items: flex-end;*/
        align-items: center;
    }

    .testimonial-quote {
        padding: 2.8em 0 0 2.8em;
    }
}