*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.header{
    justify-content: top;
    align-items: top;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 112px;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;

}



.logo{
    height: 100%;
    display: table;
    float: left;
}



.MoonText{

    width: 355px;
    display: table-cell;
    vertical-align: middle;
    left: 0;

}

.Moon{
    width: 150px;
    height:130px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding-top: 25px;

}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    

}

.navigation a li
{
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn
{
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
   margin-bottom: 2rem;
    padding: 1rem 0;
    border:none;
    outline:none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    
}

.btn::after
{
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after
{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    
}

.btn-home:hover::after
{
    transform: scale(1,1);
}

.btn-about::after
{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    
}

.btn-about:hover::after
{
    transform: scale(1,1);
}


.btn-contact::after
{
    transform: scale(0,1);
    transition: transform 0.3s ease;
    
}

.btn-contact:hover::after
{
    transform: scale(1,1);
}







.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: auto;
    position: relative;
    top: 200px;
}



.topDesign{
    text-align: center;
    justify-content: center;
    width: 63%;
    background: #ffffff;
    border-radius: 19px 19px 0 0;
    box-shadow: 5px 20px 50px #000;
    background-image: linear-gradient(darkslateblue, rgb(255, 255, 255));
    padding-top: 25px;
    padding-bottom: 15px;
}
.input{
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(rgb(255, 255, 255), darkslateblue);
    width: 63%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 19px 19px;
    font-size: x-large;
}
.myTable {
    text-align: center;
    justify-content: center;
    width: 63%;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    border: 5px solid white;
}
.myTable th {
    background-color:darkslateblue ;
    color: white;
    font-size: 35px;
}

.myTable th, .myTable td {
    padding: 15px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

#current-time{
    text-align: center;
    justify-content: center;
    font-size:200%;
}

.input h4 {
    display: inline;
}

#city {
    
    font-size: large;
    padding-left: 5px;
    margin-left: 45px;
}

#country {
    font-size: large;
    padding-left: 5px;
}

#button {
    height: 2em;
    width: 4em;
    font-size: large;
    margin-top: 10px;
}