* {
    margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
    background: linear-gradient(to top, #0c290e, #427256, #243e2e);
    background-image: url("\\WorkingCode\\Images\\26a.jpg");
    background-size: cover; 
}

.whitebox {
    width: 100%;
    display: flex;
    transform: scale(0.5);
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 5em;
}

.inner_header {
    display:black;
    margin: 0 auto;
}

.title {
    font-size: 300%;
    width: inherit;
    text-align: center;
}

.header {
    justify-content: top;
    align-items: top;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    height: 5.5em;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.MoonText {
    width: 17em;
    display: table-cell;
    vertical-align: middle;
    left: 0;
}

.Moon {
    width: 125px;
    height:105px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding: 23px 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn {
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
    padding: 0.7rem 0;
    border:none;
    outline:none;
	font-size: 0.9rem;
	font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;  
}

.btn-home:hover::after {
    transform: scale(1,1);
}

.btn-about::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.btn-about:hover::after {
    transform: scale(1,1);
}

.btn-contact::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;   
}

.btn-contact:hover::after {
    transform: scale(1,1);
}



#top, #bottom {
    background-color: #474444;
    border-top:1px solid #ffffff;   
}

p {
    font-size: 1.1em;
}

#centerColumn {
    width: 80%;
} 

#top h1, #bottom h1 {

    padding: 1.5em 0 0 1.5em;
    color: white;
    font-size: 1.5em;
    font-family:'Jost', sans-serif;
    font-weight: lighter;
    letter-spacing: .15em;
}

.whitebox button {
    cursor: pointer;
    font-size: 1.8em;
    border-radius: 20px;
    border-color: rgba(126, 126, 121, 0.856);
    height: 2em;
    width: 3.5em;
    margin: 0.6em 0;
}

.pref {
    font-style: italic;
    padding: 0.8em;
    text-align: center;
}

.checkbox {
    padding-left: 77%;
    padding-bottom: 1%;
}

.checkbox input {
    outline: none;
    height: 40px;
    width: 80px;
    border-radius: 50px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    position: relative;
    background: #e6e6e6;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .checkbox input:checked {
    background: #03dcf8;
  }

  .checkbox input:before {
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 40px;
    background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 50px;
    transform: scale(0.85);
    transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  input:checked:before {
    left: 30px;
  }

  .checkbox .text:before {
    content: "Off";
    font-size: 20px;
    font-weight: 500;
    color: #bfbfbf;
  }

  input:checked ~ .text:before {
    color: #03dcf8;
    font-size: 20px;
    content: "On";
  }

  .checkbox2 {
    padding-left: 77%;
    padding-bottom: 1%;
}
  .checkbox2 input {
    outline: none;
    height: 40px;
    width: 80px;
    border-radius: 50px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    position: relative;
    background: #e6e6e6;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .checkbox2 input:checked {
    background: #03dcf8;
  }

  .checkbox2 input:before {
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 40px;
    background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 50px;
    transform: scale(0.85);
    transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  input:checked:before {
    left: 40px;
  }

  .checkbox2 .text:before {
    content: "Off";
    font-size: 20px;
    font-weight: 500;
    color: #bfbfbf;
  }

  input:checked ~ .text:before {
    color: #03dcf8;
    font-size: 20px;
    content: "On";
  }








/**************  MOON RESPONSIVE***************/

@media (max-width: 750px) {

    .header {
        width: 100%;
        height: 70px;
    }

    .logo {
        size: 100%;
        vertical-align: middle;
        margin-top: 2%;
    }

    .MoonText {
        width: 155px;
    }

    .Moon {
        width: 75px;
        height:60px;
    }

    .navigation {
        padding-top: 11px;
    }

    .navigation a {
        height: 0%;   
        padding: 0px 5px;
    }

    .navigation a li {
        height:0%;
        margin-right: 9rem;
    }

    .btn {
        align-items: left;
        justify-content: left;
        vertical-align: middle;
        padding: 1rem 0;
        font-size: 0.6em;    
        
    }

    .whitebox {
        transform: scale(0.7);
    }

    #centerColumn {
        width: 88%;
    }

    .checkbox, .checkbox2 {
        padding-left: 70%;
    }

    .pref {
        font-size: 1.7em;
    }

    #top h1, #bottom h1 {
        padding: 0.5em 0 0 0.5em;
        color: white;
        font-size: 1.3em;
    }
    
    .whitebox button {
        font-size: 1.5em;
    }
}

@media (min-height: 668px) {
    .whitebox {
        transform: scale(0.6);
    }
}