body {
  margin: 0;
  font-family: "Georgia", serif;
}

* {
    margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
}

.inner_header {
    display:black;
    margin: 0 auto;
}

.title {
    font-size: 300%;
    width: inherit;
    text-align: center;
}

.header {
    justify-content: top;
    align-items: top;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    height: 5.5em;
    display: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.MoonText {
    width: 17em;
    display: table-cell;
    vertical-align: middle;
    left: 0;
}

.Moon {
    width: 125px;
    height:105px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,-50%); 
    animation: myfirst 15s infinite linear;
}


@keyframes myfirst {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    vertical-align: middle;
    padding: 23px 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    color: white;
    font-size:20px;
}

.btn {
    position: relative;
    background:black;
    color: #fff;
    width: 110%;
    padding: 0.7rem 0;
    border:none;
    outline:none;
	font-size: 0.9rem;
	font-weight: bold;
    cursor: pointer;
}

.btn::after {
    content:'';
    position: absolute;
    width:100%;
    height:0.175rem;
    left:0;
    bottom:0;
    background-color: red;
}

.btn-home::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;  
}

.btn-home:hover::after {
    transform: scale(1,1);
}

.btn-about::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.btn-about:hover::after {
    transform: scale(1,1);
}

.btn-contact::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;   
}

.btn-contact:hover::after {
    transform: scale(1,1);
}





.sidemenu {
  margin-top: 5px;
  width: 200px;
  background-color: #ffffff;
  position: fixed;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
  overflow: auto;
  font-size: 1.3em;
}

.sidemenu a {
  display: block;
  color: #2692df;
  padding: 20px;
  left: 20;
  text-decoration: none;
}
 
.sidemenu a.side {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-left: 5px solid #000000;
  border-radius: 3px;
  border-bottom: -3;
  border-top: -3;
  border-left: 3;
}

.sidemenu a:hover:not(.side) {
  background-color: #c7c1c46a;
  color: #2692df;
}

.content {
  margin-left: 13em;
  margin-top: 7em;
  padding: 1px 16px;
}

.content h1 {
    font-size: 1.9em;
    font-family: 'Georgia'; 
    padding-top: 0.4em; 
    color: darkcyan
}

.content p {
    font-size: 2em; 
    font-family: 'Georgia', Courier, monospace;
    color: coral;
}


hr {
    width: auto; 
    height: 4px; 
    background: linear-gradient(to right, #1e5799 50%, #7db9e8 50%);
    margin: 1.4em 0 1.4em 0;
  }

  .book {
    max-width: 40%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 1.5em;
  }

/*Phone mode content and side menue*********************************/

@media (max-width:985px) {
    .book {
        max-width: 60%;
    }
}

@media (max-width:750px) {

    .sidemenu {
        margin-top: 7px;
        width: 5.5em;
        background-color: #ffffff;
        position: fixed;
        font-family: 'Times New Roman', Times, serif;
        height: 100%;
        overflow: auto;
        font-size: 1.4em;
      }

      .content {
        margin-left: 8em;
        margin-top: 96px;
        padding: 1px 16px;
       /* height: 800px;*/
        font-size: 0.9em;
      }
      
      .book {
        max-width: 90%;
    }

    .content p {
        font-size: 1.7em;
    }

    .content h1 {
        font-size: 1.8em;
    }
}


/**************  MOON RESPONSIVE***************/

@media (max-width: 750px) {

    .header {
        width: 100%;
        height: 70px;
    }

    .logo {
        size: 100%;
        vertical-align: middle;
        margin-top: 2%;
    }

    .MoonText {
        width: 155px;
    }

    .Moon {
        width: 75px;
        height:60px;
    }

    .navigation {
        padding-top: 11px;
    }

    .navigation a {
        height: 0%;   
        padding: 0px 5px;
    }

    .navigation a li {
        height:0%;
        margin-right: 9rem;
    }

    .btn {
        align-items: left;
        justify-content: left;
        vertical-align: middle;
        padding: 1rem 0;
        font-size: 0.6em;    
        
    }

    #L22,#L32,#L42,#L52 {
        display:none;
    }

}

@media (min-height: 668px) and (min-width: 751px) {

    .book {
        max-width: 60%;
    }

    .sidemenu {
        font-size: 1.6em;
    }
  
    .content h1 {
        font-size: 2.3em;
    }

    .content p {
        font-size: 2.4em;
    }
  }